In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
df = pd.read_csv('~/data_analyst_project/data.csv')

# Print the first 5 rows of the dataframe
print(df.head())

# Print the number of rows and columns in the dataframe
print(df.shape)

# Print the number of missing values in each column
print(df.isnull().sum())

# Drop the rows with missing values
df = df.dropna()

# Print the number of missing values in each column

print(df.isnull().sum())

# Print the summary statistics of the dataframe
print(df.describe())

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Renaming columns in a DataFrame.

df = df.rename(columns={'Bank Name�' : "Bank Name", 'City�' : 'City', 'State�' : 'State', 'Cert�' : 'CERT', 'Acquiring Institution�' : 'Acquiring Institution', 'Closing Date�' : 'Closing Date', 'Fund�' : 'Funds'})
print(df)

                                 Bank Name           City State   CERT  \
0    Republic First Bank dba Republic Bank   Philadelphia    PA  27332
1                            Citizens Bank       Sac City    IA   8758
2                 Heartland Tri-State Bank        Elkhart    KS  25851
3                      First Republic Bank  San Francisco    CA  59017
4                           Signature Bank       New York    NY  57053
..                                     ...            ...   ...    ...
564                     Superior Bank, FSB       Hinsdale    IL  32646
565                    Malta National Bank          Malta    OH   6629
566        First Alliance Bank & Trust Co.     Manchester    NH  34264
567      National State Bank of Metropolis     Metropolis    IL   3815
568                       Bank of Honolulu       Honolulu    HI  21029

                   Acquiring Institution Closing Date   Fund
0      Fulton Bank, National Association    26-Apr-24  10546
1              Iowa Trust & Savings Bank     3-Nov-23  10545
2                 Dream First Bank, N.A.    28-Jul-23  10544
3              JPMorgan Chase Bank, N.A.     1-May-23  10543
4                    Flagstar Bank, N.A.    12-Mar-23  10540
..                                   ...          ...    ...
564                Superior Federal, FSB    27-Jul-01   6004
565                    North Valley Bank     3-May-01   4648
566  Southern New Hampshire Bank & Trust     2-Feb-01   4647
567              Banterra Bank of Marion    14-Dec-00   4646
568                   Bank of the Orient    13-Oct-00   4645

[569 rows x 7 columns]

In [ ]:
df.describe()

df['Closing Date'] = pd.to_datetime(df['Closing Date'])

df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bank Name              569 non-null    object
 1   City                   569 non-null    object
 2   State                  569 non-null    object
 3   CERT                   569 non-null    int64
 4   Acquiring Institution  569 non-null    object
 5   Closing Date           569 non-null    datetime64[ns]
 6   Fund                   569 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 31.2+ KB

,Bank Name,City,State,CERT,Acquiring Institution,Closing Date,Fund
0,Republic First Bank dba Republic Bank,Philadelphia,PA,27332,"Fulton Bank, National Association",2024-04-26,10546
1,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,2023-11-03,10545
2,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.",2023-07-28,10544
3,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.",2023-05-01,10543
4,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.",2023-03-12,10540
...,...,...,...,...,...,...,...
564,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",2001-07-27,6004
565,Malta National Bank,Malta,OH,6629,North Valley Bank,2001-05-03,4648
566,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2001-02-02,4647
567,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,2000-12-14,4646
568,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,2000-10-13,4645

In [ ]:
df.groupby(by='State').size().sort_values(ascending=False).head(5)

State
GA    93
FL    76
IL    69
CA    43
MN    23
dtype: int64

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'df' and the column containing the Date variables is named 'Date'
df['Year'] = df['Closing Date'].dt.year
df.head()

df.groupby(by='Year').size().sort_values(ascending=False).head(5)

Year
2010    157
2009    140
2011     92
2012     51
2008     25
dtype: int64

Looking at the data, **2010** has the most bank closures, followed by **2009**. This may be attributed to the 2008 Wall Street Crash that had occurred.

In [ ]:
import matplotlib.pyplot as plt

# Define the package names and versions
package_names = ['appdirs', 'argon2-cffi', 'asttokens', 'attrs', 'Automat']
package_versions = [1.4.4, 21.1.0, 2.2.1, 23.1.0, 22.10.0]

plt.

# Create a horizontal bar chart
plt.barh(package_names, package_versions)

# Set the labels and title
plt.xlabel('Version')
plt.ylabel('Package Name')
plt.title('Package Versions')

# Display the chart
plt.show()
dsf